[submodule ".devcontainer/Dependencies/aitrios-sdk-console-access-lib-python"]
	path = .devcontainer/Dependencies/aitrios-sdk-console-access-lib-python
	url = https://github.com/SonySemiconductorSolutions/aitrios-sdk-console-access-lib-python
